<app-header (openHelpPage)="onHelpPopup()" (openStats)="onOpenStats()"></app-header>
<div style="margin-top: 22vmax;" [ngStyle]="{'display': showHelpPopup ? 'none' : ''}">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <app-guess-pane></app-guess-pane>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-xs-12">
            <div class="paper">
              <app-ransom-letter></app-ransom-letter>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="showHelpPopup">
  <app-info-popup (closePopup)="showHelpPopup=false"></app-info-popup>
</ng-container>
<ng-container *ngIf="showGameOverPopup">
  <app-gameover-popup (closePopup)="showGameOverPopup = false"></app-gameover-popup>
</ng-container>
<div style="height:300px;"></div>